# Dependencies
node_modules/

# Environment
.env



# Logs
*.log
logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# PDF cache
.pdf-cache/

# Prisma
prisma/migrations/*
!prisma/migrations/.gitkeep
